################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShapeShifters/.vs/ShapeShifters/v14
/ShapeShifters/ShapeShifters.UI/obj/Debug
*.user
