
@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h1>Shape Shifters</h1>
</div>
<p class="lead">
    Hymenaeos convallis enim sociosqu ultricies commodo nisi. A auctor. Neque purus dis ad. Nibh litora adipiscing nam maecenas sed congue orci massa elit interdum at amet, condimentum vehicula libero pretium senectus leo facilisis bibendum pellentesque Justo ut orci ligula.

    Augue quam curabitur primis nostra netus id pretium vulputate placerat blandit eros sed faucibus sodales primis est venenatis sociosqu nec condimentum parturient, tempor elit ultrices hendrerit felis sociosqu pellentesque purus phasellus odio.

    Lectus ac sollicitudin mus luctus netus sollicitudin erat cum donec vel Aliquam maecenas tortor, maecenas. Eleifend consectetuer suscipit lacus varius senectus. Tortor vehicula ultricies vestibulum nonummy at, blandit facilisis.
</p>